# Dependencies
node_modules/
**/node_modules/

# Production / Vite build outputs
dist/
**/dist/
dist-ssr/
**/dist-ssr/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment / local configs
*.local

# IDEs & System files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.zip
